body
{
  background-color: antiquewhite;
}

.foot
{
  display: flex;
  justify-content: space-between;
}

svg
{
  fill: white;
  cursor: pointer;
}

.button
{
  background-color: inherit;
  border: none;
  color: black;
  visibility: hidden;
  font-size: 2em;
}

.yellow
{
  fill: yellow;
  stroke: black;
}

.yellow:hover
{
  fill: green;
  stroke: black;
}

.green
{
  fill: green;
  stroke: black;
}

.green:hover
{
  fill: yellow;
  stroke: black;
}

.red
{
  fill: red;
  stroke: black;
}

.red:hover
{
  fill: blue;
  stroke: black;
}

.ligne, .film, .triangle
{
  visibility: hidden;
}
